asgiref==3.8.1
beautifulsoup4==4.9.3
channels==4.2.0
Django==5.1.4
django-allauth==65.3.1
django-cors-headers==4.6.0
django-environ==0.11.2
django-filter==24.3
django-rest-framework==0.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.3.1
finnhub_python==2.4.22
pillow==11.0.0
protobuf==5.29.3
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytest==8.3.4
python-decouple==3.8
Requests==2.32.3
social-auth-app-django==5.4.2
social-auth-core==4.5.4
transformers==4.48.0
torch==2.5.1
daphne==4.1.2
google-auth==2.37.0